
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-direction:row;
	justify-content:center;
	width:100vw;
	height:100vh;
}
.item-1{
align-self:center;
	width:100px;
	height:100px;
	background-color:red;
}